.list {
  width: 100%;
}

.item {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  padding-left: 20px;
  padding-right: 70px;
  border-top: 1px solid #ddd;
}
.item:last-child {
  border-bottom: 1px solid #ddd;
}
